*{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1{
    
padding: 1rem;
margin: 1rem;
    border-radius: 15px;
    border: 2px solid;
        background: linear-gradient(to bottom, #fff873, #ffea00);

   
}

input{

padding: 1rem;
margin: 1rem;
    border-radius: 15px;
    border: 1px solid;
    min-width: 95%;
    font-weight: bold;

}

button{

padding: 0.8rem;
margin: 1rem;
    border-radius: 10px;
    border: 1px solid;
 font-weight: bold;
 background-color: rgb(255, 245, 59);
transition: 0.2s;
box-shadow: 0 5px 0px black;
}

button:hover{
transform: translateY(2px);
 background-color: rgb(255, 247, 101);
transition: 0.4s;
box-shadow: 0 3px 0px black;

}

button:active{

transform: translateY(4px);
 background-color: rgb(255, 251, 170);
transition: 0.4s;
box-shadow: 0 0px 0px black;


}

div{

    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
    border: 5px solid;
     background: linear-gradient(to top, #4700ab, #6e07ff);

    max-width: 50%;
    box-shadow: 17px 20px 0px black;
    margin-bottom: 3rem;

}

.h11{

padding: 1rem;
margin: 1rem;
    border-radius: 15px;
    border: 2px solid;
        background: linear-gradient(to bottom, #fff873, #ffea00);
max-width: 70%;

}

ul{

margin: 1.5rem;
border: 1px black;
        background: linear-gradient(to bottom, #ffffff, #c8c8c8);
border-radius: 15px;
padding: 1rem;
list-style: none;
font-weight: bold;

}

